{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="header">

    <h1>Irfan Uraizee</h1>

    <p>Hello! I'm a visual/data journalist at <a href="http://www.bostonglobe.com/" target="_blank">The Boston Globe</a>.</p>

    <p>You can <a href="mailto:iuraizee@gmail.com?Subject=Hey%20there">send me a message</a>, find me <a href="https://twitter.com/IrfanUraizee" target="_blank">on Twitter</a> or <a href="irfan_uraizee_cv.pdf" target="_blank">view my resume</a>.

</div>

<div class="container">
  <div id="projects"></div>
</div>
{% endblock %}
