{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="header">

    <h1>Irfan Uraizee</h1>

    <p>Web design and development at <b>The Washington Post</b></p>

    <div class="contact">
      <a href="mailto:iuraizee@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/IrfanUraizee">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/irfanuraizee">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </div>
</div>

<div class="container">
  <div id="projects"></div>
</div>
{% endblock %}
