{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="header">

    <h1>Irfan Uraizee</h1>

    <p>Hello! I'm a graphics reporter and front-end developer currently working at the <a href="http://www.sun-sentinel.com/" target="_blank">South Florida Sun Sentinel</a>. I graduated from <a href="http://newhouse.syr.edu/" target="_blank">Syracuse University's Newhouse school</a> in 2015.</p>

    <p>Previously, I worked at Gannett Digital, WGN-TV in Chicago and Time Warner Cable News in Syracuse.</p>

    <p>You can <a href="mailto:iuraizee@gmail.com?Subject=Hey%20there">shoot me a message</a>, find me <a href="https://twitter.com/IrfanUraizee" target="_blank">on Twitter</a> or <a href="irfan_uraizee_cv.pdf" target="_blank">download my resume</a>.

    <p>Scroll down to see some of my work.</p>

</div>

<div class="container">
  <h2>Featured Work</h2>
  <div id="projects"></div>
  <div id="other"></div>
</div>
{% endblock %}
