@import url('https://fonts.googleapis.com/css?family=Lato');

$bp-1: 35em;
$bp-2: 50em;

body {
  font-family: 'Lato', sans-serif;
}

/*
***************************
********** HEADER **********
***************************
*/

.header {
  margin: 0 auto;
  text-align: center;
  margin: 30px auto 0;

  @media (min-width: $bp-2) {
    max-width: 40em;
  }

  h1{
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: $bp-2) {
      font-size: 3em;
    }
  }

  p {
    font-size: 1.1rem;
    @media (min-width: $bp-2) {
      font-size: 1.2rem;
    }
    line-height: 1.3;
    margin: 0 0 .5em;
  }

  a {
    color: #0074BE;
    text-decoration: none;
  }
}

/*
***************************
********** CONTENT **********
***************************
*/

.container{
    text-align: center;
    padding-top: 1em;

    .block {
      text-align: left
    }

    h2 {
      display: inline-block;
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 2px solid rgba(0,0,0, .9);
    }

}

#projects {
  max-width: 1200px;
  margin: 0 auto;
  display: block;

  @media (min-width: $bp-1) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.block {
  width: 100%;
  margin: 2em 0;
  @media (min-width: $bp-1) {
    flex: 0 45%;
    margin: 1em 0;
  }
  @media (min-width: $bp-2) {
    flex: 0 30%;
    margin: 2em 0;
  }
}

.block-container img{
  width: 100%;
}

.block-container:hover{
  opacity: .7;
}

.publication{
  font-size: .8em;
  margin-top: 10px;
  color: #696969;
  display: block;
}
