@import 'normalize';
@import 'bourbon';
@import 'neat';

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

/*
***************************
********** HEADER **********
***************************
*/

.header {
  padding: 10% 10vh;
  margin: 0 auto;
  max-width: 700px;

  h1{
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    line-height: 1.8rem;
    margin: 0px;
  }

  a {
    color: #0074BE;
    text-decoration: none;
  }
}

/*
***************************
********** CONTENT **********
***************************
*/

.container{
  text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;

    .block {
      text-align: left
    }

    h2 {
      display: inline-block;
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 2px solid rgba(0,0,0, .9);
    }

}

.block {
  display: inline-block;
  margin: 30px 35px 0 35px;
  max-width: 300px;
  vertical-align: top;
}

.block-container{
  width: 300px;
  display: table-cell;
  vertical-align: top;
  margin-bottom: 10px;
  text-decoration: none;
}

.block-container p{
  text-decoration: none;
}

.block-container img{
  width: 100%;
}

.block-container:hover{
  opacity: 0.7;
}

.publication{
  font-size: 0.8em;
  margin-top: 10px;
  color: #696969;
  display: block;
}
